name: Manual Android Build

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build Type'
        required: true
        default: 'debug'
        type: choice
        options:
          - debug
          - release

jobs:
  develop:
    #runs-on: ubuntu-24.04
    runs-on: self-hosted
    steps:
      - name: Fetch source code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: cachix/install-nix-action@v31
        if: false
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: ${{ vars.CACHIX_CACHE_NAME }}
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build
        run: |
          nix develop .#noAS --command ./gradlew :app:clean
          if [ "${{ github.event.inputs.build_type }}" = "debug" ]; then
            nix develop .#noAS --command ./gradlew :app:assembleDebug
          else
            nix develop .#noAS --command ./gradlew :app:assemblePaidRelease
          fi